<h1 id="store_name"><%=@store.name %></h1>
<div id="store_region">
	Region: <%= @store.region.name %>
</div>
<div id="store_number">
	Store Number: <%= @store.number %>
</div>
<div id="store_status">
	Status: <%= @store.status %>
</div>
<div id="links">
	<%= link_to fa_icon('edit', text: "Edit Store"), edit_store_path(@store), class: "btn btn-sm btn-primary" %>
</div>